
@font-face {
    font-family: 'Roboto' ;
    src:  url('fonts/Roboto.ttf');}


@font-face {
    font-family: 'icomoon' ;
    src:  url('fonts/icomoon.eot');
    src:  url('fonts/icomoon.eot#iefix') format('embedded-opentype'),
          url('fonts/icomoon.ttf') format('truetype'),
          url('fonts/icomoon.woff') format('woff'),
          url('fonts/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;}

    *{margin:0px;
        font-family: Roboto black;
    }

  .item i{font-family: icomoon;}

  .logo img {
    width: 25%;
    margin-top: 45px;
    margin-left: 45px;
}

  .iconmoon-iconos-01:before {
    content: "\e900";
    color: #fff;
    font-size: 80px;
    font-style: normal;}

  .iconmoon-iconos-02:before {
    content: "\e901";
    color: #fff;
    font-size: 80px;
    font-style: normal;}

  .iconmoon-iconos-03:before {
    content: "\e902";
    color: #fff;
    font-size: 80px;
    font-style: normal;}

  .iconmoon-iconos-04:before {
    content: "\e903";
    color: #fff;
    font-size: 80px;
    font-style: normal;}

.home{
    width: 100%;
    height:100vh;}



.Home.Header{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    /*background-color: #b432d5;*/
    background-image: url("../img/escritorio.png");
    background-repeat: no-repeat;}

.logo{width:25%; margin-top: 10px;margin-left: 10px;}

.botones{
    height: 20%;
    width:70%;
    font-size: 20px;
    color:#fff;
    word-spacing: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}
    
.header a {font: 16px Roboto;
    color: #fff;
    line-height: 12px;
    word-spacing: 14px;
    text-decoration: none;}


.titulo{
    width: 100%;
    height:30%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;}

.titu {
    text-align: left;
    font: 100px Roboto black;
    margin-left: 15%;
    color: #fff;}

.color{
        color: #32143a;}    

.descripcion{
    width: 100%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;}

.Descrip {
    text-align: left;
    font: 20px Roboto;
    margin-left: 15%;
    color: #fff;}

.home.proyecto{
    width: 100%;
    height:45vh;}

.home.footer{
    width: 100%;
    height:30vh;}

.home.Nosotras{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;}

.home.nosotras .rosa{
    background: #fd6984;
    width: 41%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;}

.home.nosotras .blanca{
    background: #fff;
    width: 61%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;}

.encabezado{
        width: 50%;
        height:auto;
        font-size: 150%;
        font-family: Roboto black;
        line-height: 140%;
        flex-wrap: nowrap;}

a:link{ color: #fff; text-decoration: none;} 
.botones a:hover{  color: #32143a;}

.blanca a, .home.Servicios a, .home.proyecto a{
    text-decoration: none;
    color:white;}

.Ver.Todos {
    width: 216px;
    height: 50px;
    font-family: Roboto black;
    text-transform: uppercase;
    background: linear-gradient(135deg, #fd6984 1%,#fd28fa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 30px;
    color: white;
    text-align: center;
    line-height: 50px;
    margin-top: 40px;
    margin-right: 50px;}

.Ver.todos.uno{border: 3px solid;
    border-color: #fd6984 #fd28fa #b432d5;
    color: #fd28fa;
    margin-left: 4cm;
    margin-bottom: 3cm;
    background: #fff;}
.Ver.todos.dos {background: #32143a;
    margin-bottom: 0.3cm;
    margin-left: 40%;}

.ver.todos.uno a{color:purple;
font-size: 25px;}

.home.Servicios{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;}

.Hom.left{
    width: 40%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;}
    
.Nueservicios{
    width: 50%;
    height:auto;
    font-size: 150%;
    font-family: Roboto black;
    line-height: 140%;}

.texto1 {
    font-size: 170%;
    font-weight: bold;}
    
.DetalleSer{
    display: flex;
    width:50%;
    height: auto;
    font-size: 120%;
    line-height: 190%;
    font-family: Roboto light;}

.Hom.right {
     box-sizing: border-box;
     background: #fd28fa;
     width: 60%;
     height: 100%;
     display: flex;
     padding: 5%;
     padding-right: 10%;
     padding-left: 10%;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;}
     
.zindex{width:450px;
height:90px;}

.zindex img{
    width:100%;
    height:auto;
    position: relative;
    bottom: 210%;
    left: 180px;
    z-index: 1;}

.caja {margin-right: 10px; margin: 0 56px;}

.caja img {margin-bottom: 20px;}

.caja h4{font: 20px Roboto;color: #fff;}

.home.porfolio{
    display: flex;}

.porf{width:50%;}

.porf.left,.porf.rigth{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;}

.tituporf{ 
    width:70%;
    font-size: 42px;
    height:auto;
    margin-left: 3cm;}

.negrita{font-weight: bold;}

.primerporf{
    width:70%;
    height:50%;
    margin-left: 3cm;
    margin-bottom: 1.5cm;}

.primerporf img, .secondporf img{width:100%; height:auto;}

.secondporf{
    width: 95%;
    height: 70%;
    margin-top: 2cm;}

.home.Proyecto{
    background: #b432d5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;}
    
.encabezado.listo{ width:30%;
    color: white;
    font-size: 170%;
    margin-bottom: 0;
    text-align: justify;
    margin-left: 37%;}

.negrita{font-weight: bold;
    font-size: 110%;}
.sobre {
    font: 14px;
    font-family:Roboto;
    color: #000;
    text-align: left;}

.nos {
    font: 190% Roboto light;
    color: #000;}

.agencia {
    font: 14px Roboto;
    color: #000;}

.p {
    font: 14px Roboto;
    line-height: normal;
    color: #000;
    text-align: left;
    width: 50%;
    padding-top: 25px;
    line-height: 1.5;}
    
    
.home.footer{
        height: 30%;
        background: #32143a;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;}

.copy2 {
        width: 40%;
        height: 50px;
        color: white;
        font: 20px Roboto;
        margin-bottom: 50px;}

.redes {
    width:20%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;}
    
.facebook {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/facebook3.png");
    background-size: cover;  }
    
.instagram {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/instagram1.png");
    background-size: cover;}

.twitter {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/twitter2.png");
    background-size: cover}
    
/* Telefono */
@media only screen and (max-width:480px) {
    .botones {word-spacing: 0px;
        flex-flow: column nowrap;
        align-items: flex-end;}
    .logo img{ width: 100%;margin-top: 10px;margin-left: 10px}
    .titulo {margin-top:30%;margin-right: 10%;}
    .home.nosotras .rosa {display: none;}
    .home.nosotras .blanca {width: auto; align-items: center;}
    .encabezado {margin-top: 10px;text-align: center;width: 100%}
    .DetalleSer.uno {width: auto; margin:10%;text-align: center;}
    .DetalleSer.dos {display: none;}
    .Ver.Todos {margin:0px;}
    .Ver.todos.uno {margin-left: -4cm;}
    .home.Servicios {position: relative;}
    .Hom.left{position: relative;margin-top: 10%}
    .encabezado.dos{position: absolute;height: 100%;margin-bottom: 10px;margin-left: 225px}
    .Ver.Todos.bis{position: absolute;margin-top:550px;margin-left: 250px;}
    .Hom.right {position: absolute;margin-top: 30%;width: auto;height:70%}
    .encabezado.listo {margin:10%;width: 100%;justify-content: center;}
    .Ver.todos.dos{margin-left:25%;}
    .caja{margin: 0px;}
    .porf.left , .porf.rigth{position: relative;}
    .encabezado.tres{position: absolute;margin-top:20px; margin-left: 215px;height: 100%;}
    .primerporf , .secondporf{width: 150%;height: 100%}
    .primerporf{height: 10%;margin-left: 225px; margin-bottom: 10px; margin-top: 100px;}
    .secondporf{height: 70%; margin-right: 250px; margin-top: 150px;}
    .Ver.todos.uno{margin-right:100%;margin-left: 0px; margin-bottom: 15%}

    
    
    }



}