.titulo {
    
    background: #fd28fa;
    font: 30px 'Roboto';
    color: black;
    text-align: center;}

.cuadro {
    width: 100%;
    height: 600px;
    background: #fd6984;
    display: flex;
    justify-content: center;
    align-items: center;}

.caja {
      width: 30%;
      height: 450px;
      display: flex;
      justify-content: center;
      align-items: center;}

.uno {
    background: grey;}

.dos {
    background: rosybrown;}
 

.footer {
    background: fuchsia;
    height: 50px;
    width: 100%;}

.caja {
    color: white;
    padding: 40px;}

.titulo2 {
    background: white;
    height: 50px;
    font: 30px roboto;
    color: black;}
  
.cubo {
    font: 10px roboto;
    color: black;
    height: 150px;
    display: flex;}
  
.primero {
    background: white;}
.segundo {
    background: white;}
  
.tercero{
    background: white;}
.imagen {
    background: white;
    display: flex;
    align-items: center;}

.casa1 {
    background-image: url("../img/home1.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;}

.carta1 {
    background-image: url("../img/mail1.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;}

.telefono1 {
    background-image: url("../img/contact1.png");
    background-size: cover;
    background-position: center;
    width: 100px;
    height: 100px;}

.texto {
    background: white;
    width: 70%;
    display: flex;
    align-items: center;
    padding: 10px;}

.texto1{
    height: 100px;
    width: 100%;
    background: white;}

.texto2 {
    height: 100px;
    width: 100%;
    background: white;}

.texto3 {
    height: 100px;
    width: 100%;
    background: white;}

.footer {
    font: 10px roboto;
    color: black;
    text-align: center;}
