*{margin:0px;
    font-family: roboto}

.home{
    width: 100%;
    height:50vh;}

.Home.Header{display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
   /* background-color: #b432d5;*/
    background-image: url("../img/escritorio5.png");
    background-repeat: no-repeat;}

.logo{width:29%;
    height:20%;}

.botones{
    height: 20%;
    width:70%;
    font-size: 20px;
    color:#fff;
    word-spacing: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;}

img {
    margin-left: 130px;
}


    
.header a {font: 16px roboto;
    color: #fff;
    line-height: 12px;
    word-spacing: 14px;
    text-decoration: none;}

.botones a:hover{  color: #fd28fa;}

.titulo{
    width: 46%;
    height:30%;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
padding-top: 46px;}

.titu {
    text-align: left;
    font: 50px roboto black;;
    margin-left: 12%;
    color: #fff;}

.fotos{width:100%;      
        background: #fff;
        display: flex;
 }
    
 .texto3{
            
            width:60%;
            height: auto;
            font-size: 100%;
            line-height: 160%;
            font-family: roboto light;
             text-align: justify;
            align-items: center;}
            

 .ofrecemos{width:50%;
            margin-left: 1cm;
            margin-top: 1cm;
             padding: 3%;
             align-items: center
}

.fondo{
    width: ;
    background:#7d109b; 

}

.fondob{
    width: ;
    background:#af19d8; 

}

.texto3.b, .texto4.b {

    color: #fff;

}


 .servicio1{width:50%;
            margin-left: 1cm;
            margin-top: 0;
             padding: 3%;
             display: flex;
             flex-wrap: wrap;
}



.foto img{
    width: 70%;
   

}


.texto4{
    font-weight: bolder;
    font-size: 120%;
    line-height: 200%;
    color: #32143a;
}

.servicio2{width:100%;
    margin-left: 1cm;
    margin-top: 1cm;
     padding: 3%;
     flex-wrap: wrap;
     background-color: #fd28fa;
    }




    









 .home.footer{
        height: 30%;
        background: #32143a;
        display: flex;
        justify-content: space-around;
        align-items: flex-end;}

.copy2 {
        width: 40%;
        height: 100px;
        color: white;
        font: 20px roboto;}

.redes {
    width:20%;
    height: 100px;
    display: flex;
    justify-content: space-around;
}
    
.facebook {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/facebook3.png");
    background-size: cover;  }
    
.instagram {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/instagram1.png");
    background-size: cover;}

.twitter {
    width: 35px;
    height: 35px;
    border-radius: 30px;
    background-image: url("../img/twitter2.png");
    background-size: cover}

    /* Telefono */
@media only screen and (max-width:780px) {
    .botones {flex-flow: column nowrap;align-items: flex-end;
    justify-content: space-around;height: 100px;}
    .titulo {width: 100%; padding: 10%;}
    .titu {text-align: center;
    margin-left:auto;
    padding-top: 50px;}
    .foto img { display: none;}
    .ofrecemos {
        margin-left: 2cm;
        margin-top: 1cm;
        padding: 20px;
        align-items: center;
        text-align: center;
        width: 100%;
    
    }

    .servicio1 {
        display: none;
    
    }

    .ofrecemos{
        margin: 0 auto;
    padding-top: 35px;}

    .copy2 {

        width: 40%;
        font: 16px roboto; }

        .redes {

            width: 30%;
            height: 100px;
            display: flex;
            justify-content: space-evenly;
        
        }
    
}